* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Crimson Text", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  background-color: #7297a6;
}
#grid {
  max-width: 100vw;
  min-height: 100vh;
  padding: 4rem;
  background-color: #7297A6;
  transition: all 400ms;
  color: #fff;
  display: grid;
  grid-template-areas: "namey blank blank"
                      "namey content blank2"
                      "namey content blank2"
                      "head foot blank2";
  grid-template-rows: 200px 1fr 60px;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 0;
}
#upbutton {
  background-color: rgba(32,32,32,.6);
  position: -webkit-sticky;
  position: sticky;
  top: 66vh;
  height: 0;
}
#upbutton a i {
  color: #fff;
  font-size: 4rem;
}

header {
  grid-area: head;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  margin: .5rem;
  list-style: none;
}
li a {
  color: #112226;;
  text-decoration: none;
  transition: all 500ms;
}
li a:hover {
  text-shadow: 0 0 10px #496773;
}
.name {
  color: #0D0D0D;
  grid-area: namey;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: "Unica One", sans-serif;
  /*background-image: url(https://svgsilh.com/svg/303816.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;*/
}
.name h1 {
  font-size: 3rem;
}
#content {
  background-color: rgb(36,53,64);
  box-shadow: 15px 15px rgba(36,53,64,.9);
  padding: 8rem;
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 400ms;
  /*border-left: 10px dashed #8C3F23;*/
  /*background-image: url(https://svgsilh.com/svg/146978.svg);*/
}
#content p {
  line-height: 1.5rem;
  padding: .5rem 0;
  max-width: 36rem;
}
#content a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px white;
  transition: all 500ms;
}
#content a:hover {
  text-shadow: 0 0 20px white;
}
footer {
  background-color: #496773;
  box-shadow: 15px 15px rgb(36,53,64,.9);
  grid-area: foot;
  padding: 1rem;
  transition: all 400ms;
}
footer p {
  float: right;
}
#projects {
  background-color: #2b3e49;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}
#projcontent {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  background-color: #7297a6;
  color: #0D0D0D;
  width: 80vw;
  height: 80vh;
  background:
      linear-gradient(90deg,  transparent 0px, #7297a6 0px),
      linear-gradient(135deg, transparent 60px, #7297a6 60px),
      linear-gradient(90deg, transparent 0px, #7297a6 0px),
      linear-gradient(315deg, transparent 60px, #7297a6 60px);
  background-position:
      bottom left,
      top left,
      top right,
      bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  padding: 4rem;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.feature img {
  width: 80%;
  height: auto;
  opacity: 60%;
  border-radius: 10px;
}
.feature h2 {
  margin: 1rem;
  font-weight: normal;
}
#aboutme {
  background-color: #496773;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "about descrip"
                      "about descrip";
  color: #fff;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  transition: all 400ms;
}
#aboutme h2 {
  background-color: #243540;
  font-size: 3rem;
  grid-area: about;
  padding: 12rem;
}
#aboutme .descrip {
  background-color: #496773;
  color: #fff;
  grid-area: descrip;
  align-self: flex-end;
  justify-self: flex-end;
}
.descrip p {
  margin:4rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: .5rem 0;
  max-width: 36rem;
}
#contact {
  background: #262626;
  color: #F2F2F2;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 30vh;
  text-align: center;
  transition: all 400ms;
}
#contact h2 {
  font-size: 4rem;
}
#contact a {
  font-size: 2rem;
  color: inherit;
}

@media only screen and (max-width: 1500px) {
    #grid {
      padding: 4rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "namey"
                            "head"
                            "content"
                            "foot";
    }
    #content, footer {
      width: 52rem;
    }
    #aboutme {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "about"
                          "descrip";
    }
    #aboutme h2 {
      padding: 4rem;
    }
    #aboutme .descrip {
      font-size: 1rem;
    }
}
@media only screen and (max-width: 975px) {
    #content {
      width: 90%;
      padding: 4rem;
    }
    footer {
      width: 90%;
    }
}
@media only screen and (max-width: 700px) {
    #grid {
      padding: 1.5rem;
      padding-bottom: 4rem;
    }
    #content {
      width: 100%;
    }
    footer {
      width: 100%;
    }
}
